<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="U9Contexts"
             type="UFIDA.U9.Cust.Pub.WS.U9Context.Configuration.U9ContextSectionGroup,UFIDA.U9.Cust.Pub.WS.U9Context" />
  </configSections>
  <!--服务采用固定上下文时配置-->
  <U9Contexts defaultEnterpriseID="004" multiEnterprise="false">
    <U9Context enterpriseID="004" enterpriseName="FC" orgID="1001810240000055" orgCode="130101"
               orgName="XXXX制造有限公司" userID="1001810240000281"
               userCode="admin" userName="admin" culture="zh-CN" supportCultureNameList="zh-CN" />
  </U9Contexts>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="UFIDA.U9.Cust.Pub.WS.CommService.Services.CommService">
        <endpoint address="" behaviorConfiguration="DataServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.CommService.Interfaces.ICommService" />
      </service>
      <service name="UFIDA.U9.Cust.Pub.WS.TestService.Services.TestService">
        <endpoint address="" behaviorConfiguration="DataServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.TestService.Interfaces.ITestService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataServiceEndPointBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"
                   faultExceptionEnabled="false" />
          <NewtonsoftJsonBehavior />
          <Log4NetEndpointBehavior />
          <SetU9ContextBySingleUserEndpointBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="restWebHttpBinding"
                 contentTypeMapper="UFIDA.U9.Cust.Pub.WS.Base.Behavior.WebHttp.NewtonsoftJsonContentTypeMapper,UFIDA.U9.Cust.Pub.WS.Base,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <!--disabled
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <extensions>
      <behaviorExtensions>
        <add name="NewtonsoftJsonBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Base.Behavior.WebHttp.NewtonsoftJsonBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="Log4NetEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Base.Behavior.Endpoint.Log4NetEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base, Version=1.0.0.0, Culture=neutral" />
        <add name="SetU9ContextBySingleUserEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.U9Context.Behavior.Endpoint.SetU9ContextBySingleUserEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.U9Context, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AllowAnonymousSvcPages" value="true" />
    <add key="AllowAnonymousSvcHelpPages" value="true" />
    <!--Json日期格式-->
    <add key="JsonDateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--返回Json以BOM开始-->
    <add key="ResponeJsonNoStartsWithBOM" value="true" />
    <!--返回Json格式化方式:none/Indented-->
    <add key="ResponeJsonFormatting" value="none" />
  </appSettings>
</configuration>