<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="UFIDA.U9.Cust.Pub.WS.ProxyService.Services.ProxyService">
        <endpoint address="" behaviorConfiguration="DataServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.ProxyService.Interfaces.IProxyService" />
      </service>
      <service name="UFIDA.U9.Cust.Pub.WS.DebugService.Services.DebugService">
        <endpoint address="" behaviorConfiguration="DataServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.DebugService.Interfaces.IDebugService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataServiceEndPointBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"
                   faultExceptionEnabled="false" />
          <NewtonsoftJsonBehavior />
          <SetU9ContextByAuthEndpointBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="restWebHttpBinding"
                 contentTypeMapper="UFIDA.U9.Cust.Pub.WS.Base.Behavior.WebHttp.NewtonsoftJsonContentTypeMapper,UFIDA.U9.Cust.Pub.WS.Base,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <!--disabled
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <extensions>
      <behaviorExtensions>
        <add name="NewtonsoftJsonBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Base.Behavior.WebHttp.NewtonsoftJsonBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="Log4NetEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Base.Behavior.Endpoint.Log4NetEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base, Version=1.0.0.0, Culture=neutral" />
        <add name="SetU9ContextByAuthEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.U9Context.Behavior.Endpoint.SetU9ContextByAuthEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.U9Context, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AllowAnonymousSvcPages" value="true" />
    <add key="AllowAnonymousSvcHelpPages" value="true" />
    <!--Json日期格式-->
    <add key="JsonDateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--返回Json以BOM开始-->
    <add key="ResponeJsonNoStartsWithBOM" value="false" />
    <!--返回Json格式化方式:none(不格式)/Indented(格式化)-->
    <add key="ResponeJsonFormatting" value="none" />
    <!--返回Json是否包含堆栈信息-->
    <add key="ResponeMessageIncludeStackInfo" value="true" />
    
  </appSettings>
</configuration>