<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="U9Actions"
             type="UFIDA.U9.Cust.Pub.WS.U9Action.Configuration.U9ActionSectionGroup,UFIDA.U9.Cust.Pub.WS.U9Action" />
    <section name="TokenConfiguration"
             type=" UFIDA.U9.Cust.Pub.WS.Token.Configuration.TokenConfiguration,UFIDA.U9.Cust.Pub.WS.Token" />
  </configSections>
  <U9Actions>
    <!--执行顺序[Before:SetU9ContextByToken->TwoStepDBLog AfterDo:TwoStepDBLog->SetU9ContextByToken]-->
    <U9Action name="SetU9ContextBySingleUser"
         type="UFIDA.U9.Cust.Pub.WS.U9Action.Action.SetU9ContextBySingleUserBehaviorAction,UFIDA.U9.Cust.Pub.WS.U9Action" />
    <!--
    <U9Action name="SetU9ContextByToken"
              type="UFIDA.U9.Cust.Pub.WS.U9Action.Token.SetU9ContextByTokenBehaviorAction,UFIDA.U9.Cust.Pub.WS.U9Action.Token" />
     -->
    <U9Action name="TwoStepDBLog"
              type="UFIDA.U9.Cust.Pub.WS.DBLog.Action.TwoStepDBLogBehaviorAction,UFIDA.U9.Cust.Pub.WS.U9Action.DBLog" />
  </U9Actions>
  <TokenConfiguration enabled="false" defaultProvider="MemoryProvider">
    <providers>
      <add name="MemoryProvider"
           type="UFIDA.U9.Cust.Pub.WS.Token.MemoryProvider.WSTokenMemoryProvider, UFIDA.U9.Cust.Pub.WS.Token.MemoryProvider"
           timeout="480" maxSizePerUser="-1" />
      <add name="DBProvider"
           type="UFIDA.U9.Cust.Pub.WS.Token.DBProvider.WSTokenDBProvider, UFIDA.U9.Cust.Pub.WS.Token.DBProvider" />
    </providers>
  </TokenConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="UFIDA.U9.Cust.Pub.WS.Token.Services.AuthTokenService">
        <endpoint address="" behaviorConfiguration="AuthTokenServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.Token.Interfaces.IAuthTokenService" />
      </service>
      <service name="UFIDA.U9.Cust.Pub.WS.CommService.Services.CommService">
        <endpoint address="" behaviorConfiguration="DataServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.CommService.Interfaces.ICommService" />
      </service>
      <service name="UFIDA.U9.Cust.Pub.WS.TestService.Services.TestService">
        <endpoint address="" behaviorConfiguration="DataServiceEndPointBehavior" binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  contract="UFIDA.U9.Cust.Pub.WS.TestService.Interfaces.ITestService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthTokenServiceEndPointBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"
                   faultExceptionEnabled="false" />
          <NewtonsoftJsonBehavior />
          <Log4NetEndpointBehavior />
        </behavior>
        <behavior name="DataServiceEndPointBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"
                   faultExceptionEnabled="false" />
          <NewtonsoftJsonBehavior />
          <Log4NetEndpointBehavior />
          <!--<SetU9ContextBySingleUserEndpointBehavior />-->
          <!--
          <TokenValidationEndpointBehavior />
          <SetU9ContextByTokenEndpointBehavior />
          -->
          <U9ActionEndpointBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="restWebHttpBinding"
                 contentTypeMapper="UFIDA.U9.Cust.Pub.WS.Base.Behavior.WebHttp.NewtonsoftJsonContentTypeMapper,UFIDA.U9.Cust.Pub.WS.Base,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <!--disabled
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <extensions>
      <behaviorExtensions>
        <add name="NewtonsoftJsonBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Base.Behavior.WebHttp.NewtonsoftJsonBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="Log4NetEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Base.Behavior.Endpoint.Log4NetEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base, Version=1.0.0.0, Culture=neutral" />
        <add name="SetU9ContextBySingleUserEndpointBehavior"
             type=" UFIDA.U9.Cust.Pub.WS.Base.Behavior.Endpoint.SetU9ContextBySingleUserEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Base, Version=1.0.0.0, Culture=neutral" />
        <add name="TokenValidationEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Token.Behavior.Endpoint.TokenValidationBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Token, Version=1.0.0.0, Culture=neutral" />
        <add name="SetU9ContextByTokenEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.Token.Behavior.Endpoint.SetU9ContextByTokenEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.Token, Version=1.0.0.0, Culture=neutral" />
        <add name="U9ActionEndpointBehavior"
             type="UFIDA.U9.Cust.Pub.WS.U9Action.Behavior.Endpoint.U9ActionEndpointBehaviorExtension,UFIDA.U9.Cust.Pub.WS.U9Action, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AllowAnonymousSvcPages" value="true" />
    <add key="AllowAnonymousSvcHelpPages" value="true" />
    <!--是否多企业-->
    <add key="IsMultiEnterprise" value="false" />
    <!--日期格式-->
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--GX
    <add key="EnterpriseID" value="002" />
    <add key="EnterpriseName" value="GX" />
    <add key="OrgID" value="1001511010010246" />
    <add key="OrgCode" value="2010000" />
    <add key="OrgName" value="福建广鑫钢绳索具贸易有限公司" />
    <add key="UserID" value="1001511090021123" />
    <add key="UserCode" value="admin" />
    <add key="UserName" value="admin" />
    -->
    <!--FC-->
    <add key="EnterpriseID" value="004" />
    <add key="EnterpriseName" value="FC" />
    <add key="OrgID" value="1001810240000055" />
    <add key="OrgCode" value="130101" />
    <add key="OrgName" value="福建福船一帆新能源装备制造有限公司" />
    <add key="UserID" value="1001810240000281" />
    <add key="UserCode" value="admin" />
    <add key="UserName" value="admin" />
  </appSettings>
</configuration>